@import url("__separator/popup__separator.css");
@import url("__separator/_type/popup__separator_type-shortarrow.css");
@import url("__separator/_type/popup__separator_type-box.css");
@import url("__main/popup__main.css");
@import url("__listelement/popup__listelement.css");
@import url("__listelement/_size/popup__listelement_size-large.css");
@import url("__listelement/_size/popup__listelement_size-big.css");
@import url("__listelement/_font/popup__listelement_font-abel.css");
@import url("__listelement/_color/popup__listelement_color-white.css");
@import url("__listelement/_color/popup__listelement_color-gray.css");
@import url("__list/popup__list.css");
@import url("__list/_pos/popup__list_pos-centered.css");
@import url("__like/popup__like.css");
@import url("__header/popup__header.css");
@import url("__body/popup__body.css");
@import url("__background/popup__background.css");
.popup {
  height: 100vh;
  position: sticky;
  z-index: 10;
  top:0;
}